<div class="my-brick {{ additionalClassesData|join(' ') }}">
    <p>This is my Brick!</p>
    <h1>{{ pimcore_input('headline', {'width': 540}) }}</h1>
    <span>{{ pimcore_input('title').data }}</span>
</div>